<div class="box">
<div class="box2">
  <div class="d-flex reference-header">
    <div class="line-left border-bottom border-primary px-3 py-1"></div>
    <div class="reference-header-title border-top border-start border-end 
    border-primary px-3 py-1 text-center text-primary text-uppercase">
        References</div>
    <div class="line-right border-bottom border-primary px-3 py-1"></div>
  </div>
  <div class="head2"><p>REFERENCE 1</p></div>
  <form class="form-group pb-3" action="">
    <div class="row">
        <div class="col-4 form-floating mb-3 mt-3 ">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary " id="name"
                placeholder="Name" name="name">
            <label for="name" class="text-secondary">Name <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary"
                id="designation" placeholder="Designation" name="designation">
            <label for="designation" class="text-secondary">Designation <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary" id="company"
                placeholder="company" name="company">
            <label for="company" class="text-secondary">Company <span class="text-danger">*</span></label>
        </div>
    </div>
    <div class="row ">
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary" id="email"
                placeholder="email" name="email">
            <label for="email" class="text-secondary">Email ID <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text"
                class="reference-input form-control border-0 border-bottom border-secondary border-radius-0"
                id="number" placeholder="number" name="number" >
            <label for="number" class="text-secondary">Phone Number <span class="text-danger">*</span></label>
        </div>
    </div>
</form>
  <div class="head2">
    <p>REFERENCE 2</p>
  </div>
  <form class="form-group pb-3" action="">
    <div class="row">
        <div class="col-4 form-floating mb-3 mt-3 ">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary" id="name"
                placeholder="Name" name="name">
            <label for="name" class="text-secondary">Name <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary"
                id="designation" placeholder="Designation" name="designation">
            <label for="designation" class="text-secondary">Designation <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary" id="company"
                placeholder="company" name="company">
            <label for="company" class="text-secondary">Company <span class="text-danger">*</span></label>
        </div>
    </div>
    <div class="row ">
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text" class="reference-input form-control border-0 border-bottom border-secondary" id="email"
                placeholder="email" name="email">
            <label for="email" class="text-secondary">Email ID <span class="text-danger">*</span></label>
        </div>
        <div class="col-4 form-floating mb-3 mt-3">
            <input type="text"
                class="reference-input form-control border-0 border-bottom border-secondary border-radius-0"
                id="number" placeholder="number" name="number" >
            <label for="number" class="text-secondary">Phone Number <span class="text-danger">*</span></label>
        </div>
    </div>
    <br>
    <br>
    <button style="float: left;" class="btn btn-outline-primary btn-lg">Exit</button>
    <button style="float: right;" class="btn btn-primary btn-lg">Save & Continue</button>
    <button style="float: right; margin-right: 10px;" class="btn btn-primary btn-lg">Save</button>
</form>
  </div>
</div>